{% extends 'base.html' %}
{% block head %}
<title>My home page</title>
{% endblock head %}
{% block body %}
    <div class="container">
        <h1>All books</h1>
        {% for book in books %}
            name:
            <a href='{% url 'detail_book' book.pk %}'> <!--Normal  tarika jasto url nalekhnu-->
                {{book.name}}
            </a>
            <br>
            {% if book.price > 1200 %}
            <button>Book is not cheap</button>
            {% else %}
            <button>Book is cheap</button>
            {% endif %}
            price: {{book.price}}
            <br>
            author: {{book.author}}
            <br>
            desc: {{book.desc}}
            <br>
            <br>
        {% endfor %}
    </div>
{% endblock body %}