{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>{{request.user}}</title>
{% endblock head %}
{% block body %}

<div class="container">
    <h1>
        {{author}}
    </h1>
    {% if author.profile_pic %}
        <img src='{{author.profile_pic.url}}' alt="" height = '100'>

        <form action='{% url 'profile_picture' %}' enctype='multipart/form-data' method="post">
            {% csrf_token %}
            <input type="file" accept="image/*" name="pic">
            <br>
            <button class="btn btn-dark">Update Profile Picture</button>
        </form>
    {% else %}
        <img src={% static 'images/default_profile_pic.png' %} alt="Profile Pic" height='100'>

        <form action='{% url 'profile_picture' %}' enctype='multipart/form-data' method="post">
            {% csrf_token %}
            <input type="file" accept="image/*" name="pic">
            <br>
            <button class="btn btn-dark">Add Profile Picture</button>
        </form>
    {% endif %}
    <br>
    
    {% for book in author.book_set.all %}
        <a href='{% url 'detail_book' book.pk  %}'>
            <h5>
                {{book}}
            </h5>
        </a>
        {% if request.user.is_authenticated %}
            <a href='{% url 'edit_book' book.pk %}'>Edit Book</a>
            ~~~
            <a href='{% url 'delete_book' book.pk %}'>Delete Book</a>
        {% endif %}
        <br>
        <br>
    {% endfor %}
</div>

{% endblock body %}